.auto-style1 {
    text-align: center;
}
.ms-core-tableNoSpace {
    width: 85%;
    margin: auto;
}
#sideNavBox {
    display: none;
}
#s4-ribbonrow {
	display: none;
}
#contentBox {
    margin-left: 40px;
}
.ms-fullscreenmode #contentBox {
    margin-left: 0;
}
#DeltaPlaceHolderPageTitleInTitleArea{
	display: none !important;
}
.ResponsiveTextbox {
    width: 95% !Important;
}
.nav-pills > li > a {
    background-color: #A1A1A1;
    color: #FFF;
}
.nav-pills > li > a:hover {
        background-color: #85C2D6;
        color: #000000;
}

.aspNetDisabled
{
	color: #000 !important;
}

@media print {
    .doNotPrint {
        visibility: hidden;
		display: none;
    }
	.print {
		visibility: visible;
	}
    
    .printMyWebPart {
        visibility: visible !important;
        margin-left: 25px;
        width:auto;
        height: auto;
    }
    
    .largeFont
	{
        font-size: 22px;
    }
	
	.TestBreak
	{
		page-break-after: always;
	}
	
	html, body 
	{
		height: 99%; 
	}
}

@media screen {
	.print {
		visibility: hidden;
		display: none;
	}
	.doNotPrint {
		visibility: visible;

	}
}

.CompleteTaskRow
{	
	background-color: #a5ffa7 !important;	
}

.LateTaskRow
{
	background-color: #ff7575 !important;
}

.UserTaskRow
{
	background-color: #f5ff91 !important;	
}

.LateTaskText
{
	color: red !important;
}

.UserReadyTaskRow
{
	background-color: #00FFFF !important;	
}


/*=================================================
Override bootstrap
=================================================*/
.ms-input {
	
	width: 95px !important;
}

.panel-heading {
    padding: 7px 5px !important;
}

.panel-default, .panel-primary {
	border-color: #000000 !important;
}
h4 {
	color: inherit !important;
}

.tallPanelHeading {
	padding: 17px 5px !important;
}
#s4-bodyContainer {
    background-color: #cce2de !important;
}

#s4-workspace {
    background-color: #cce2de !important;
}

body {
    line-height: 1 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #e3f7fc;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #dae2f3;
}

.SmallerText {
    font-size: 12px !important;	
    padding: 1px !important;
}

.panel {
    margin-bottom: 5px !important;
    background-color: #cce2de!important;
    }

.table {
    margin-bottom: 5px !important;
}

.table-bordered>tbody>tr>td {
	border: 1px solid #000000 !important;
}

.tab-content {
	background-color: #cce2de !important;
}

.tab-pane {
	background-color: #cce2de !important;
}

.panel-body {
    padding: 5px;
    background-color: #cce2de !important;
    border-color: #000000 !important;
}

label {
    margin-bottom: 0px !important;
    margin-right: 10px !important;
}

.btn {
	margin-left: 1px !important;
}


.btn-link {
    border: 1px solid #000000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    border-radius: 4px !important;
    line-height: 1.2px;
}

.smallButton{
	min-width: 3em !important;
    width: 3em !important;
}

.labelbutton {
	border: 1px solid #ababab !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

.btn-primary {
	border: 1px solid #000000 !important;
    background: #2b8680 !important;
    color: #fefff7 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #54b7b0 !important;
}

.btn-default {
	border: 1px solid #000000 !important;
	background: #88BBD6 !important;
    color: #000 !important;	
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
    background: #b6e6ef !important;
}

.table>tbody>tr>td {
    padding: 3px !important;
    vertical-align: middle !important;
}

p {
    margin: 0px !important;
}

.RadioClass input[type="radio"]{
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: middle;
}

.CheckboxClass input[type="checkbox"]{
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: middle;
}

th {
    border: 1px solid gray !important;
}

.tablecss {
    font-size: 14px !important;
}
.SortCSS {
    font-size: 15px !important;
}

table.tablecss, td.SortCSS {
    border: 1px solid gray;
    border-collapse: collapse;
}

textarea {
	width: 95% !important;
}

.RequiredTextbox {
	border-color: red !important;
}

.clear {
	clear: both;
}

/*=================================================
Override bootstrap
=================================================*/


/*=================================================
Modal/Popup
=================================================*/	
.myCustomePopUp {
    background-color: #E9E9E9 !important;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    width: 90%;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 30%;
    z-index: 100;
    overflow-y: initial !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    }
    
.myNoScrollPopUp {
    background-color: #cce2de !important;
    border: 3px solid #fff;
    display: inline-block;
    margin: auto;
    left: 50%;
    width: 70%;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 100;
    height: 60%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    }

.myShortNoScrollPopUp {
    background-color: #cce2de !important;
    border: 3px solid #fff;
    display: inline-block;
    margin: auto;
    left: 50%;
    width: 70%;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 45%;
    z-index: 100;
    height: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    }


    
.myScrollPopUp {
    background-color: #E9E9E9 !important;
    border: 3px solid #fff;
    display: inline-block;
    margin: auto;
    left: 50%;
    width: 90%;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 100;
    height: 80%;
	overflow-y: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    }
    
.mySmallCustomePopUp {
    background-color: #E9E9E9 !important;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    width: 40%;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 40%;
    z-index: 100;
    max-height: 700px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;	
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow:auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
}

/*=================================================
Toggle Buttons
=================================================*/	
div.divToggleButton input[type=checkbox]
{
    display: none;
    white-space: nowrap;
}
div.divToggleButton label
{
    display: block;
    float: left;
    cursor: pointer;
}

/* set the size of the pseudo-toggle button control */
div.divToggleButton input[type=checkbox]:checked + label::before,
div.divToggleButton input[type=checkbox]:not(:checked) + label::before,
div.divToggleButton input[type=checkbox] + label
{
    width: 80pt;
    height: 16pt;
}

/* additional styling: rounded border, gradient */
div.divToggleButton input[type=checkbox] + label
{
    vertical-align: middle;
    text-align:center;
    font-size: 12pt;
    font-family:Arial, Calibri;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #f0f0f0;
}

.box2 {
	display: inline-block;
  width: 785px;
}

/*=================================================
Tooltips
=================================================*/	
.tooltips {
    position: relative;
    display: inline-block;
    }

.tooltips .tooltiptexts {
    visibility: hidden;
    width: 600px;
    text-align: center;
    border-radius: 6px;
    border-color:black;
    border-style:solid;
    border-width:thin;
   
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltips:hover .tooltiptexts {
    visibility: visible;
}

.mHeader{
    position: absolute;
    height: 8%;
    left:0;
    top:0;
    width: 100%;
}
.mBody{
    width:99%;
    height: 85% !important;
    position: absolute;
    top: 8%;
    overflow: auto !important;
}

.mFooter {
	padding: 5px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    background-color: #337ab7 !important;
    border: 1px solid #000 !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.mHeaderSmall{
    position: absolute;
    height: 14%;
    left:0;
    top:0;
    width: 100%;
}
.mBodySmall{
    width:99%;
    height: 75% !important;
    position: absolute;
    top: 14%;
    overflow: auto !important;
    border-color: #000000 !important;
}

.mFooterSmall {
	padding: 5px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #337ab7 !important;
    border: 1px solid #000 !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}